@font-face {
    font-family: ABeeZee;
    src: url(../font/ABeeZee-Regular.ttf);
}

body {
    background-color: white;
    margin: 0;
    padding: 0;

    font-family: ABeeZee, sans-serif;
}

header {
    background-color: #ecf0f1;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    position: absolute;
    z-index: 1;
    opacity: 0.85;
}

#contact {
    width: 100%;
    background-color: #272835;
    color: #ecf0f1;

    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#title img {
    width: 15%;
    padding: 20px 0;
}

#menu {
    margin: 0;
}

#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 0;
    padding-inline-start: 0
}

#menu li {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 150%;
}

#menu li a {
    text-decoration: none;
    color: #272835;
}

#carousel-wrapper {
    display: flex;
    justify-content: center;

    background-color: black;
}

#carousel {
    width: 100vw;
    padding: 0;
    margin: 0;
}

#carousel img {
    padding: 0;
    margin: 0;
}

.icon {
    margin-right: 5px;
}

@media screen and (max-width: 640px) {
    #title img {
        width: 30%;
    }
    
    #menu ul {
      flex-direction: column;
    }

    #menu ul li {
        font-size: 110%;
        margin-bottom: 10px;
    }

    #carousel {
        width: 100vw;
    }
  }